<% include ../partials/header %>
	<div class="content-header row d-xl-block d-lg-block d-md-none d-sm-none d-none">
		<div class="content-header-left col-md-9 col-12 mb-2">
			<div class="row breadcrumbs-top">
				<div class="col-12">
					<h3 class="content-header-title float-left mb-0">
						All Skill Tests
					</h3>
					<div class="breadcrumb-wrapper col-12">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/admin">Home</a></li>
							<li class="breadcrumb-item active">All Skill Tests</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="content-body">
		<% include ../partials/flash %>
			<section class="list-view">
				<div class="row">
					<div class="col-12 rounded equal-height-2 coloumn-2">
						<div class="card">
							<div class="row p-1">
								<div class="col-xl-6">
									<div class="row">
										<div class="archieve">
											<input style="margin-bottom: 4px;" type="checkbox" onclick="archived()" <%-
												isChecked=="true" ? "checked" : '' %>
											id="checkbox1">
											&nbsp;
											<p>Show Archived</p>
										</div>
									</div>
								</div>
								<!-- <div class="col-xl-6">
									<div class="archieveOuter">
										<div class="archieve">
											<p>Show Archived</p>

											<input type="checkbox" onclick="archived()" <%- isChecked=="true"
												? "checked" : '' %>
											id="checkbox1">
										</div>
									</div>
								</div> -->
							</div>
							<div class="card-content">
								<div class="table-responsive">
									<% if (skillTest && skillTest.length> 0) { %>
										<table class="table table-hover-animation mb-0 table-hover">
											<thead>
												<tr>
													<th>Name</th>
													<th>Test Category</th>
													<th>Level of Difficulty</th>
													<th>No of Questions</th>
													<th>Total Skills</th>
													<th>Candidate Arressed</th>
													<th>Action</th>
												</tr>
											</thead>

											<tbody>
												<% let count=0 %>
													<% skillTest.forEach((l, i)=> { %>
														<tr>
															<td class="text-capitalize">
																<!-- <img src="https://mmt-all.s3.ap-south-1.amazonaws.com/<%= l.image %>" width="60">  -->
																<%= l.name %>
															</td>
															<td class="text-capitalize">
																<%= l.category %>
															</td>
															<td>
																<% if (l.level===0) { %> Easy <% } else if (l.level===1)
																		{ %> Medium <% } else { %>
																			High
																			<% } %>
															</td>
															<td>
																<%= l.skil %>
															</td>
															<td>
																<%= l.skills.length> 0 ? l.skills : '--' %>
															</td>
															<td>0</td>
															<td valign="middle"
																class="qualification-action-custom-class">
																<!-- <a style="padding-right:5px" href="/panel/college/skillTest/edit/<%= l._id %>">
                                  <i class="feather icon-edit fa-lg primary"></i>
                                </a> -->
																<% if (isChecked=="true" ){ %>
																	<a style="padding-right: 5px">
																		<i onclick="deleteArchieve('<%= l._id %>', '<%= l.isDeleted%>', 'skillTest');"
																			class="feather custom-delete icon-trash-2 fa-lg primary"></i></a>
																	<%}else{%>
																		<a style="padding-right: 5px">
																			<i onclick="deleteRecord('<%= l._id %>', '<%= l.status %>', 'skillTest');"
																				class="feather custom-delete icon-trash-2 fa-lg primary"></i></a>
																		<div style="padding-bottom:9px"
																			class="custom-control custom-switch custom-control-inline">
																			<% if(l.status) { %>
																				<input type="checkbox"
																					onclick="myOnOffFunc('<%= l._id %>', '<%= l.status %>', 'skillTest');"
																					class="custom-control-input"
																					id="customSwitch<%= i %>" checked />
																				<label class="custom-control-label"
																					for="customSwitch<%= i %>">
																				</label>
																				<% } else { %>
																					<input type="checkbox"
																						onclick="myOnOffFunc('<%= l._id %>', '<%= l.status %>', 'skillTest');"
																						class="custom-control-input"
																						id="customSwitch<%= i %>" />
																					<label class="custom-control-label"
																						for="customSwitch<%= i %>">
																					</label>
																					<% } %>
																		</div>
																		<%};%>
															</td>
														</tr>
														<% }) %>
											</tbody>
										</table>
										<% } else { %>
											<p class="text-center mt-3">No result found</p>
											<% } %>
												<% if (totalPages> 1) { %>
													<ul class="pagination justify-content-end ml-2 mb-2">
														<% let first=1 %>
															<% let last=totalPages> 4 ? 4 :
																totalPages %> <% if (totalPages> 4 && page >= 2) { %> <%
																		first=page - 1 %>
																		<% last=page + 1 %>
																			<% if (last>
																				totalPages) last = totalPages %> <% } %>
																					<% if (first>
																						1) { %>
																						<li class="page-item">
																							<a class="pageAnchor page-link"
																								href="<%= 1 %>">First</a>
																						</li>
																						<% } %>
																							<% for (let i=first; i
																								<=last; i +=1) { %>
																								<% if (i===page) { %>
																									<li
																										class="active page-item">
																										<a href="javascript:void()"
																											class="page-link">
																											<%= i %>
																										</a>
																									</li>
																									<% } else { %>
																										<li
																											class="page-item">
																											<a class="page-link pageAnchor"
																												href="<%= i %>">
																												<%= i %>
																											</a>
																										</li>
																										<% } %>
																											<% } %>
																												<% if
																													(totalPages>
																													last)
																													{ %>
																													<li
																														class="page-item">
																														<a class="pageAnchor page-link"
																															href="<%= last + 1 %>">...</a>
																													</li>
																													<li
																														class="page-item">
																														<a class="pageAnchor page-link"
																															href="<%= totalPages %>">Last</a>
																													</li>
																													<% }
																														%>
													</ul>
													<% } %>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<% include ../partials/footer %>
				<script>
					function myOnOffFunc(id, status, model) {
						// eslint-disable-line
						let myStatus = true;
						if (status === true || status === "true") {
							myStatus = false;
						}
						$.ajax({
							type: "POST",
							url: "/admin/changestatus",
							data: {
								id,
								status: myStatus,
								model,
							},
							success: () => location.reload(),
						});
					}
				</script>
				<script>
					!(function () {
						"use strict";
						Array.isArray ||
							(Array.isArray = function (r) {
								return "[object Array]" === Object.prototype.toString.call(r);
							});
						var r = {
							get: function () {
								var r = window.location.search,
									t = {};
								return "" === r
									? t
									: ((r = r.slice(1)),
										(r = r.split("&")),
										r.map(function (r) {
											var i, o;
											(r = r.split("=")),
												(i = r[0]),
												(o = r[1]),
												t[i]
													? (Array.isArray(t[i]) || (t[i] = [t[i]]),
														t[i].push(o))
													: (t[i] = o);
										}),
										t);
							},
						};
						if (window) {
							if (window.qs)
								throw new Error(
									"Error bootstrapping qs: window.qs already set."
								);
							window.qs = r;
						}
					})();
				</script>
				<script>
					document.addEventListener("DOMContentLoaded", () => {
						const pageAnchors = document.querySelectorAll("a.pageAnchor");
						const { origin, pathname, search } = window.location;
						const obj = window.qs.get(search);
						const keyArr = Object.keys(obj).filter((x) => !!obj[x]);
						let url = `${origin}${pathname}?`;
						keyArr.forEach((x) => {
							if (x !== "page") {
								url += `${x}=${obj[x]}&`;
							}
						});
						pageAnchors.forEach((el) => {
							const n = el.getAttribute("href");
							el.setAttribute("href", `${url}page=${n}`);
						});
					});
					function deleteRecord(id, status, model) {
						// eslint-disable-line
						let myStatus = true;
						if (status === true || status === "true") {
							myStatus = false;
						}
						var x = confirm("Are you sure you want to delete?");
						if (x) {
							$.ajax({
								type: "POST",
								url: "/admin/deleteRecord",
								data: {
									id,
									status: myStatus,
									model,
								},
								success: () => window.location.href = "/panel/college/skillTest"
							});
						}
					}
					// show deleted data
					function archived() {
						var checkbox = document.getElementById('checkbox1');
						if (checkbox.checked) {
							var isDeleted = true;
							// alert("isDeleted = " + isDeleted)
							$.ajax({
								type: "GET",
								url: "/college/skillTest?isDeleted=true",
								success: () => window.location.href = "/panel/college/skillTest?isDeleted=true"
							});
						} else {
							var isDeleted = false;
							// alert("isDeleted = " + isDeleted);
							$.ajax({
								type: "GET",
								url: "/college/skillTest?isDeleted=false",
								success: () => window.location.href = "/panel/college/skillTest?isDeleted=false"
							});
						}
					}

					// delete archieve data permanently
					function deleteArchieve(id, isDeleted, model) {
						// alert(isDeleted)
						let myStatus = true;
						if (isDeleted === true || isDeleted === "true") {
							myStatus = true;
						}

						var x = confirm("Are you sure you want to delete?");
						if (x) {
							$.ajax({
								type: "POST",
								url: "/admin/deleteArchieve",
								data: {
									id,
									isDeleted: myStatus,
									model,
								},
								success: () => window.location.href = "/panel/college/skillTest?isDeleted=true"
							});
						}
					}
				</script>
	</div>