<% include ../../partials/header %>
	<div class="content-header row d-xl-block d-lg-block d-md-none d-sm-none d-none">
		<div class="content-header-left col-md-9 col-12 mb-2">
			<div class="row breadcrumbs-top">
				<div class="col-12">
					<h3 class="content-header-title float-left mb-0">Add Company Coin Offer</h3>
					<div class="breadcrumb-wrapper col-12">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/admin">Home</a></li>
							<li class="breadcrumb-item active">Add Company Coin Offer</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="content-body">
		<% include ../../partials/flash %>
			<form class="form-horizontal" action="/admin/Coins/addOffer?offerId=<%= offer?._id%>" method="post" id="formData">
				<section>
					<div class="row">
						<div class="col-xl-12 col-lg-12">
							<div class="card">
								<div class="card-header border border-top-0 border-left-0 border-right-0">
									<h4 class="card-title pb-1">Company Coin Offer</h4>
								</div>
								<div class="card-content">
									<div class="card-body">
										<div class="row">
											<div class="col-xl-3 mb-1">
												<label>Display Offer
													<span class="asterisk">*</span></label>
												<input type="text" class="form-control" required name="displayOffer"
													value='<%= offer?.displayOffer %>' />
                                                    <input type="hidden" name="forCandidate" value="false">
											</div>
											<div class="col-xl-3 mb-1">
												<label>Pay Amount
													<span class="asterisk">*</span></label>
												<input type="number" class="form-control" required name="payAmount"
													value='<%= offer?.payAmount %>' />
											</div><div class="col-xl-3 mb-1">
												<label>Get Coins
													<span class="asterisk">*</span></label>
												<input type="number" class="form-control" required name="getCoins"
													value='<%= offer?.getCoins %>' />
											</div>
										</div>
										<div class="row">
											<div class="col-xl-3 mb-1">
												<label>Activation Date
													<span class="asterisk">*</span></label>
												<input type="date" id="startDate" 
												 class="form-control" required name="activationDate"
												 min="<%= offer?.activationDate ? moment(offer.activationDate).utcOffset('+05:30').format('YYYY-MM-DD') : moment().utcOffset('+05:30').format('YYYY-MM-DD') %>"
												 value='<%= offer?.activationDate ? moment(offer.activationDate).utcOffset('+05:30').format('YYYY-MM-DD') : '' %>' 
												 />
											</div><div class="col-xl-3 mb-1">
												<label>Active Till
													<span class="asterisk">*</span></label>
												<input type="date" class="form-control" required name="activeTill" id="endDate"
												  min="<%= offer?.activationDate ? moment(offer.activationDate).utcOffset('+05:30').format('YYYY-MM-DD') : moment().utcOffset('+05:30').format('YYYY-MM-DD') %>"
												  value='<%= offer?.activeTill ? moment(offer?.activeTill).utcOffset('+05:30').format('YYYY-MM-DD') : '' %>' />
											</div>
                                            <div class="col-xl-3 mb-1">
												<label>Description</label>
												<textarea class="form-control" name="description" cols="3" rows="3"
												 ><%= offer?.description %></textarea>
											</div>
                                            <div class="col-xl-3 mb-1 mt-5 pt-1">
												<button type="reset" class="btn btn-danger">
                                                    Reset
                                                </button>
                                                <button type="submit submitBtn" class="btn btn-success">
                                                    Save
                                                </button>
											</div>
                                            </div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
	</div>
	</form>
	<% include ../../partials/footer %>



	<script>
		$('#startDate').change((e)=> {
			$('#endDate').attr('min' , e.target.value);
			}
		)
	</script>

		</div>