<% include ../../partials/header %>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/public_assets/css/icons.css">
  <link rel="stylesheet" href="/public_assets/css/slider-responsive.css">
  <link rel="stylesheet" href="/public_assets/css/animate.min.css">

  <body class="vertical-layout vertical-menu-modern 2-columns navbar-floating footer-static  pose-lead"
    data-open="click" data-menu="vertical-menu-modern" data-col="2-columns">
    <% include ./partials/navbar%>
      <% include ./partials/leftpane%>

        <% include ../../partials/flash %>
          <div class="app-content content">
            <div class="content-overlay"></div>
            <div class="header-navbar-shadow"></div>
            <div class="content-wrapper">
              <div class="content-header row d-xl-block d-lg-block d-md-none d-sm-none d-none">
                <div class="content-header-left col-md-9 col-12 mb-2">
                  <div class="row breadcrumbs-top">
                    <div class="col-12 my-auto">
                      <h3 class="content-header-title float-left mb-0">Applied Courses</h3>
                      <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                          <li class="breadcrumb-item">
                            <a href="/candidate/dashboard">Home</a>
                          </li>
                          <li class="breadcrumb-item"><a href="#">Applied Courses</a></li>
                        </ol>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <section id="searchCourses" class="mb-2">
                <div class="container">
                  <!-- <ul class="nav nav-tabs justify-content-center" id="courseTabs" role="tablist">
                    <li class="nav-item" role="presentation">
                      <button class="nav-link active" id="search-tab" data-bs-toggle="tab" data-bs-target="#search" type="button" role="tab" aria-controls="search" aria-selected="true">
                        Search Courses
                      </button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="pending-tab" data-bs-toggle="tab" data-bs-target="#pending" type="button" role="tab" aria-controls="pending" aria-selected="false">
                        Pending for Fee
                      </button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="applied-tab" data-bs-toggle="tab" data-bs-target="#applied" type="button" role="tab" aria-controls="applied" aria-selected="false">
                        Applied Courses
                      </button>
                    </li>
                  </ul> -->
                  <ul class="nav nav-tabs justify-content-center" id="courseTabs" role="tablist">
                    <li class="nav-item" role="presentation">
                      <a class="nav-link " id="search-tab" href="/candidate/searchcourses" role="tab" aria-controls="search" aria-selected="true">
                        Search Courses
                      </a>
                    </li>
                    <li class="nav-item" role="presentation">
                      <a class="nav-link" id="pending-tab" href="/candidate/pendingFee" role="tab" aria-controls="pending" aria-selected="false">
                        Pending for Fee
                      </a>
                    </li>
                    <li class="nav-item" role="presentation">
                      <a class="nav-link active" id="applied-tab" href="/candidate/appliedCourses" role="tab" aria-controls="applied" aria-selected="false">
                        Applied Courses
                      </a>
                    </li>
                  </ul>
                  <!-- <div class="tab-content mt-3" id="courseTabsContent">
                    <div class="tab-pane fade show active" id="search" role="tabpanel" aria-labelledby="search-tab">
                      <form action="" class="serach-course-form">
                       
                        <input type="search" placeholder="Search for a Course">
                      </form>
                    </div>
                    <div class="tab-pane fade" id="pending" role="tabpanel" aria-labelledby="pending-tab">
                      
                    </div>
                    <div class="tab-pane fade" id="applied" role="tabpanel" aria-labelledby="applied-tab">
                      
                    </div>
                  </div> -->
                </div>
              </section>
              <section class="searchjobspage">
                <div class="forlrgscreen">
                  <div class="pt-xl-2 pt-lg-0 pt-md-0 pt-sm-5 pt-0">
                    <% if (courses && courses.length> 0) { %>
                      <% courses.forEach((appliedcourse)=> { %>
                        <div class="card">
                          <div class="card-body">
                            <div class="row pointer">
                              <div class="col-lg-8 col-md-7 column">
                                <div class="job-single-sec mt-xl-0">
                                  <div class="job-single-head border-0 pb-0">
                                    <div>
                                      <h6 class="text-capitalize font-weight-bolder">
                                        <%=appliedcourse._course.name ? appliedcourse._course.name : 'NA' %>
                                      </h6>
                                      <span class="text-capitalize set-lineh">
                                        <%= appliedcourse._course.sectors?appliedcourse._course.sectors[0]?.name : "" %>
                                      </span>
                                    </div>
                                  </div>
                                  <a href="/candidate/course/<%= appliedcourse._course._id%>">
                                    <div class="job-overview mt-1">
                                      <ul class="mb-xl-2 mb-lg-2 mb-md-2 mb-sm-0 mb-0 list-unstyled">
                                        <li><i class="la la-money"></i> 
                                          <h3 class="jobDetails-wrap"><%=appliedcourse._course.cutPrice ? appliedcourse._course.cutPrice.toLowerCase()==='free'? appliedcourse._course.cutPrice : '₹ ' + appliedcourse._course.cutPrice  : 'N/A' %>
                                          </h3>
                                          <span class="text-capitalize jobDetails-wrap">
                                            Course Fee
                                          </span>
                                        </li>
                                        <li><i class="la la-shield"></i>
                                          <h3 class="jobDetails-wrap"><%=appliedcourse._course.courseLevel ? appliedcourse._course.courseLevel : 'N/A' %>
                                          <span class="jobDetails-wrap">
                                            Course Level
                                          </span>
                                        </li>
                                        <li><i class="la la-graduation-cap"></i>
                                          <h3 class="jobDetails-wrap"><%=appliedcourse._course?.certifyingAgency ? appliedcourse._course.certifyingAgency : 'N/A' %>
                                          <span class="jobDetails-wrap">
                                            Course Agency
                                          </span>
                                        </li>
                                        <li><i class="la la-money"></i>
                                          <h3 class="jobDetails-wrap"><%=appliedcourse?.registrationFee === 'Paid' ? 'Paid' : 'Unpaid' %>
                                          <span class="jobDetails-wrap">
                                            Registration Status
                                          </span>
                                        </li>
                                      </ul>
                                    </div>
                                  </a>
                                </div>
                              </div>
                              <div class="col-lg-4 col-md-5 column mt-xl-1 mt-lg-1 mt-md-1 mt-sm-3 mt-0">
                                <div class="extra-job-info mt-1">
                                  <span class="px-0"><i class="la la-map "></i><strong>Last Date</strong>
                                    <%=moment(appliedcourse._course.lastDateForApply ||
                                    appliedcourse._course.createdAt).utcOffset('+05:30').format('DD MMM YYYY') %></i>
                                  </span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- <hr> -->
                        <% }); %>
                          <% } else{%>
                            <h4 class="text-center"> No Course found</h4>
                            <%} %>

                  </div>
                </div>
              </section>

              <section class="map" style="display: none;">
                <div class="row">
                  <div class="col-xl-12 col-lg-12">
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                      <div class="card-body px-1 py-0">
                        <div class="card border border-top-1">
                          <div id="filter">
                            <div class="card-content">
                              <div class="card-body p-0">
                                <div class="row my-0 mx-0" id="allFields">
                                  <div class="cont" style="display:none">
                                    <p id="companyNameMarker"></p>
                                    <p id="stateCityMarker"></p>
                                    <p id="industryMarker"></p>
                                    <p id="qualificationMarker"></p>
                                    <p id="salaryMarker"></p>
                                    <p id="locationMarker"></p>
                                    <a id="jobDetailsMarker"></a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-12 col-lg-12">
                  <div id="error" style="color: red;"></div>
                  <div id="map" style="width: 100%; height: 400px" class="rounded"></div>
                </div>
              </section>
            </div>
          </div>
          <div class="modal fade" id="popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-modal="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title text-white text-uppercase" id="exampleModalLongTitle">Complete Profile
                  </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          </section>
          </div>
          </div>
          <script>
          </script>
          <% include ./partials/footer%>
  </body>