<% include ../../partials/header %>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/public_assets/css/icons.css">
  <link rel="stylesheet" href="/public_assets/css/slider-responsive.css">
  <link rel="stylesheet" href="/public_assets/css/animate.min.css">

  <body class="vertical-layout vertical-menu-modern 2-columns navbar-floating footer-static  pose-lead"
    data-open="click" data-menu="vertical-menu-modern" data-col="2-columns">
    <% include ./partials/navbar%>
      <% include ./partials/leftpane%>

      <% include ../../partials/flash %>
        <div class="app-content content">
          <div class="content-overlay"></div>
          <div class="header-navbar-shadow"></div>
          <div class="content-wrapper">
            <div class="content-header row d-xl-block d-lg-block d-md-none d-sm-none d-none">
              <div class="content-header-left col-md-9 col-12 mb-2">
                <div class="row breadcrumbs-top">
                  <div class="col-12 my-auto">
                    <h3 class="content-header-title float-left mb-0">Search Course</h3>
                    <div class="breadcrumb-wrapper col-12">
                      <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                          <a href="/candidate/dashboard">Home</a>
                        </li>
                        <li class="breadcrumb-item"><a href="#">Search Course</a></li>
                      </ol>
                    </div>
                    </div>
                  </div>
                </div>
              </div>

              <section id="personal-info">
                <div class="row">
                  <div class="col-xl-12 col-lg-12">
                    <div id="accordion">
                      <div class="card mt-xl-0 mt-lg-0 mt-md-0 mt-sm-2 mt-2 mb-0">
                        <div class="card-header fliter-block py-1" id="headingOne">
                          <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-7 col-6 my-auto ">
                              <h5 class="mb-0">Search Course</h5>
                            </div>
                            
                            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-5 col-6 text-right my-auto">
                              <div class="d-flex flex-wrap align-items-center justify-content-end">
                                <img src="/images/icons/listing.png" onclick="viewMap()" class="btn btn-link collapsed py-0 mx-0 px-1 list"
                                  id="view">
                                <img src="/images/filtern.png" class="btn btn-link collapsed py-0 mx-0" data-toggle="collapse"
                                  data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" id="filter-img">
                              </div>
                            </div>
                            
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>





              <section class="searchjobspage">
                <div class="forlrgscreen">
                  <div class="pt-xl-2 pt-lg-0 pt-md-0 pt-sm-5 pt-0">
                        <div class="course_nw mb-3">
                          <div class="row justify-content-sm-center justify-content-md-start">
                            <% if (courses && courses.length> 0) { %>
                              <% courses.forEach((recentJob)=> { %>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-10 mx-auto">
                              <div class="cr_nw_in">
                                <!-- <div id="base">
                                  <p class="text-center p-0 match_card font-weight-bolder mb-0">Now At</p>
                                  <p class="text-center p-0 match_del font-weight-bold mb-0"><del class="text"><%=recentJob.courseFee%></del></p>
                                  <p class="text-center p-0 match_final font-weight-bold mb-0"><%=recentJob.cutPrice%></p>
                                </div> -->
                                <div class="right_obj shadow"><%=recentJob.courseType === 'coursejob' ? 'Course + Job' : 'Course'%></div>
                                <!-- <a href="/candidate/course/<%= recentJob._id%>" class="video-bttn position-relative d-block">
                                  <img src="/images/pages/video_thum1.png" class="video_thum img-fluid" alt="">
                                  </a> -->
                                  <% if (recentJob.videos !== undefined && recentJob.videos !== null) { %>
                                    <a href="#" data-target="#videoModal" data-toggle="modal" link="<%= process.env.MIPIE_BUCKET_URL +'/' + recentJob.videos[0] %>"
                                      class="video-bttn position-relative d-block"><img id="videoPlay" src="<%= recentJob.thumbnail ? process.env.MIPIE_BUCKET_URL +'/' + recentJob.thumbnail : '/images/pages/video_thum1.png' %>" class="video_thum img-fluid" alt="">
                                      <img src="public_assets/images/newjoblisting/play.svg" alt="" class="group1"></a>
                                      <%}%>
                                  <div class="course_inf pt-0">
                                    <a href="/candidate/course/<%= recentJob._id%>">
                                    <h5><%=recentJob.name ? recentJob.name : 'N/A' %></h5>
                                    <span class="job_cate"><%= recentJob.sectors?recentJob.sectors[0]?.name : 'N/A' %></span>
                                    <div class="row">
                                      <div class="col-md-6">
                                      <div class="course_spec">
                                        <div class="spe_icon">
                                          <figure class="text-end">
                                            <img src="public_assets/images/icons/eligibility.png" class="img-fluid p-0" draggable="false">
                                        </figure>
                                          <!-- <i class="la la-money"></i> -->
                                        </div>
                                        <div class="spe_detail">
                                          <p class="mb-0 text-black">Eligibility</p>
                                          <p class="mb-0 text-black"></p>                                          </p>
                                        <!-- <h3 class="jobDetails-wrap"> <%=recentJob.cutPrice ? recentJob.cutPrice.toLowerCase()==='free'? recentJob.cutPrice : '₹ ' + recentJob.cutPrice : 'N/A' %></h3>
                                        <span class="text-capitalize jobDetails-wrap">Course Fee</span> -->
                                        </div>
                                      </div>
                                      </div>
                                      <div class="col-md-6">
                                        <div class="course_spec">
                                          <div class="spe_icon">
                                            <figure class="text-end">
                                              <img src="public_assets/images/icons/eligibility.png" class="img-fluid p-0" draggable="false">
                                          </figure>
                                            <!-- <i class="la la-shield"></i> -->
                                          </div>
                                          <div class="spe_detail">
                                            <p class="mb-0 text-black">Duration</p>
                                            <p class="mb-0 text-black"> </p>
                                          <!-- <h3 class="jobDetails-wrap"><%=recentJob.courseLevel ? recentJob.courseLevel : 'N/A' %></h3>
                                          <span class="text-capitalize jobDetails-wrap">Course Level</span> -->
                                          </div>
                                        </div>
                                        </div>


                                        <div class="col-md-6">
                                          <div class="course_spec">
                                            <div class="spe_icon">
                                              <!-- <i class="la la-graduation-cap"></i> -->
                                              <figure class="text-end">
                                                <img src="public_assets/images/icons/eligibility.png" class="img-fluid p-0" draggable="false">
                                            </figure>
                                            </div>
                                            <div class="spe_detail">
                                          <p class="mb-0 text-black">Location</p>
                                          <div class="ellipsis-wrapper">
                                            <p class="mb-0 text-black para_ellipsis">
                                                
                                            </p>
                                        </div>
                                            <!-- <h3 class="jobDetails-wrap"><%=recentJob?.certifyingAgency ? recentJob.certifyingAgency : 'N/A' %></h3>
                                            <span class="text-capitalize jobDetails-wrap">Course Agency</span> -->
                                            </div>
                                          </div>
                                          </div>

                                          <div class="col-md-6">
                                            <div class="course_spec">
                                              <div class="spe_icon">
                                                <!-- <i class="la la-map"></i> -->
                                                <figure class="text-end">
                                                  <img src="public_assets/images/icons/eligibility.png" class="img-fluid p-0" draggable="false">
                                              </figure>
                                              </div>
                                              <div class="spe_detail">
                                                <p class="mb-0 text-black">Mode</p>
                                                <p class="mb-0 text-black"></p>
                                              </div>
                                              <!-- <h3 class="jobDetails-wrap">Last Date</h3>
                                              <span class="text-capitalize jobDetails-wrap"><%=moment(recentJob.lastDateForApply ||
                                                recentJob.createdAt).utcOffset('+05:30').format('DD MMM YYYY') %></span> -->
                                              </div>
                                            </div>
                                            </div>
                                    </div>
                                  </a>
                                  <div class="row mt-1">
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                      <a class="apply-thisjob text-left px-1 apply-padding mb-0 mt-0"
                                        href="/candidate/course/<%= recentJob._id%>" title=""><i class="la la-paper-plane  "></i>
                                        Apply Now</a>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                      <a class="apply-thisjob text-left px-1 apply-padding mb-0 mt-0"
                                        href="/candidate/course/<%= recentJob._id%>" title=""><i class="la la-mobile-phone  "></i>
                                        Call Now</a>
                                    </div>
                                  </div>
                                  </div>
                              </div>
                            </div>
                            <!-- <hr> -->
                        <% }); %>
                        <% } else{%>
                          <h4 class="text-center"> No Courses found</h4>
                          <%} %>
                          </div>
                          </div>


                         
                        

                  </div>
                </div>
                <div class="forsmallscrn d-none">
                  <div class="container search-page pt-xl-5 pt-lg-0 pt-md-0 pt-sm-0 pt-0">
                    <% if (courses && courses.length> 0) { %>
                      <% courses.forEach((recentJob)=> { %>
                        
                            <div class="row pointer">
                              <div class="card-body px-0"> 
                              <div class="col-lg-8 col-md-7 column">
                                <div class="job-single-sec">
                                  <div class="job-single-head border-0 pb-0">
                                    <div class="job-head-info">
                                      <h6 class="text-capitalize font-weight-bolder">
                                        <%=recentJob.name ? recentJob.name : 'NA' %>
                                      </h6>
                                      <span class="text-capitalize set-lineh">
                                        <%= recentJob.sectors?recentJob.sectors[0]?.name : "" %>
                                      </span>
                                    </div>
                                  </div>
                                  <a href="/candidate/course/<%= recentJob._id%>">
                                    <div class="job-overview mt-1">
                                      <ul class="mb-xl-2 mb-lg-2 mb-md-2 mb-sm-0 mb-0 list-unstyled">
                                        <li><i class="la la-money"></i>
                                          <h3 class="jobDetails-wrap"><%=recentJob.cutPrice ? recentJob.cutPrice.toLowerCase()==='free'? recentJob.cutPrice : '₹ ' + recentJob.cutPrice : 'N/A' %>
                                          </h3>
                                          <span class="text-capitalize jobDetails-wrap">
                                            Course Fee
                                          </span>
                                        </li>
                                        <li><i class="la la-shield"></i>
                                          <h3 class="jobDetails-wrap"><%=recentJob.courseLevel ? recentJob.courseLevel : 'N/A' %>
                                          <span class="jobDetails-wrap">
                                            Course Level
                                          </span>
                                        </li>
                                        <li><i class="la la-graduation-cap"></i>
                                          <h3 class="jobDetails-wrap"><%=recentJob?.certifyingAgency ? recentJob.certifyingAgency : 'N/A' %>
                                          <span class="jobDetails-wrap">
                                            Course Agency
                                          </span>
                                        </li>
                                      </ul>
                                    </div>
                                </a>
                                </div>
                              </div>
                              <div class="col-lg-4 col-md-5 column mt-xl-4 mt-lg-5 mt-md-5 mt-sm-3 mt-2">
                                <a class="apply-thisjob text-left px-0 d-xl-block d-lg-block d-md-block d-sm-none d-none apply-padding text-center"
                                  href="/candidate/course/<%= recentJob._id%>" title=""><i class="la la-paper-plane  "></i>
                                  Register for this Course</a>
                                <!-- Course Overview -->
                                <div class="row ">
                                    <div class="col-6 same-plane mt-2">
                                      <a class="apply-thisjob text-center py-1 px-0 d-xl-none d-lg-none d-md-none d-sm-block d-block w-100 same-plane" href="/candidate/job/<%= recentJob._id%>" title="">
                                        <i class="la la-paper-plane ml-xl-3 mt-lg-3 mt-md-2 mt-sm-0 ml-xl-0 ml-lg-0 ml-md-1 ml-sm-2 ml-0 text-center-sm text-center-md text-center-lg text-center-xl plane-font"></i>Course Apply
                                      </a>
                                    </div>
                                </div>
                              </div>
                             </div>
                            </div>
                           
                        
                        <% }); %>
                          <% } %>
                  </div>
                </div>
                <% if (totalPages> 1) { %>
                  <ul class="pagination justify-content-end ml-2 mb-2 text-right">
                    <% let first=1 %>
                      <% let last=totalPages> 4 ? 4 :
                        totalPages %> <% if (totalPages> 4 && page >= 2) { %>
                          <% first=page - 1 %>
                            <% last=page + 1 %>
                              <% if (last> totalPages) last = totalPages
                                %> <% } %>
                                  <% if (first> 1) { %>
                                    <li class="page-item">
                                      <a class="pageAnchor page-link" href="<%= 1 %>">First</a>
                                    </li>
                                    <% } %>
                                      <% for (let i=first; i <=last; i +=1) { %>
                                        <% if (i===page) { %>
                                          <li class="active page-item">
                                            <a href="javascript:void()" class="page-link pagi_custom">
                                              <%= i %>
                                            </a>
                                          </li>
                                          <% } else { %>
                                            <li class="page-item">
                                              <a class="page-link pageAnchor pagi_customtwo" href="<%= i %>">
                                                <%= i %>
                                              </a>
                                            </li>
                                            <% } %>
                                              <% } %>
                                                <% if (totalPages>
                                                  last)
                                                  { %>
                                                  <li class="page-item">
                                                    <a class="pageAnchor page-link" href="<%= last + 1 %>">...</a>
                                                  </li>
                                                  <li class="page-item">
                                                    <a class="pageAnchor page-link" href="<%= totalPages %>">Last</a>
                                                  </li>
                                                  <% } %>
                  </ul>
                  <% } %>
              </section>





              <section class="map" style="display: none;">
                <div class="row">
                  <div class="col-xl-12 col-lg-12">
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                      <div class="card-body px-1 py-0">
                        <div class="card border border-top-1">
                          <div id="filter">
                            <div class="card-content">
                              <div class="card-body p-0">
                                <div class="row my-0 mx-0" id="allFields">
                                  <div class="cont" style="display:none">
                                    <p id="companyNameMarker"></p>
                                    <p id="stateCityMarker"></p>
                                    <p id="industryMarker"></p>
                                    <p id="qualificationMarker"></p>
                                    <p id="salaryMarker"></p>
                                    <p id="locationMarker"></p>
                                    <a id="jobDetailsMarker"></a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
          <div class="col-xl-12 col-lg-12">
                <div id="error" style="color: red;"></div>
                <div id="map" style="width: 100%; height: 400px" class="rounded"></div>
                </div>
            </div>
          </div>
          </div>
          </section>
          </div>

          </div>
<!-- Modal -->
<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal-body p-0 text-center embed-responsive embed-responsive-4by3">
        <video id="courseVid" controls autoplay class="video-fluid text-center">
          <source id="vodeoElement" src="" type="video/mp4" class="img-fluid video-fluid">
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
  </div>
</div>

          <script
            src="https://maps.googleapis.com/maps/api/js?key=<%= process.env.AUTH_KEY_GOGGLE %>&libraries=&v=weekly"
            ></script>
          <script>
            function initMap() {
              let filterData = {};
              $("#filter")
                .find(".form-control")
                .each(function () {
                  let type = $(this).prop("type");
                  let name = $(this).prop("name");
                  let val = $(this).val();
                  if (
                    type != "button" &&
                    type != "submit" &&
                    type != "file" &&
                    name !== ""
                  ) {
                    filterData[name] = val;
                    let $radio = $('input[name=distance]:checked');
                    let dist = $radio.val();
                    if(dist && dist != 'all'){
                      filterData['distance'] = dist
                    }
                  }
                });
              axios
                .get("/candidate/getNearbyJobsForMap", {
                  headers: {
                    "x-auth": localStorage.getItem("token"),
                    "Content-Type": "multipart/form-data",
                  },
                  params: filterData,
                })
                .then((res) => {
                  if (res.data.status == false) {
                    $('#error').text('Add your Current Location')
                    const map = new google.maps.Map(document.getElementById("map"), {
                      zoom: 9,
                    });
                  } else {
                    const map = new google.maps.Map(document.getElementById("map"), {
                      zoom: 9,
                      center: {
                        lat: res.data.nearest?.location?.coordinates[1],
                        lng: res.data.nearest?.location?.coordinates[0],
                      },
                    });

                    for (let job of res.data.jobs) {
                      let obj = {
                        lat: job.location.coordinates[1],
                        lng: job.location.coordinates[0],
                      };

                      let temp = $('.cont')
                      $('#companyNameMarker').text(job.displayCompanyName ? job.displayCompanyName : job._company[0].name)
                      $('#stateCityMarker').text(`${job.city[0]?.name}, ${job.state[0].name}`)
                      $('#industryMarker').text(`Industry: ${job._industry[0].name}`)
                      $('#qualificationMarker').text(`Qualification: ${job._qualification[0].name}`)
                      $('#salaryMarker').text(`Salary: ${job.isFixed == true && job.amount
                        ? job.amount
                        : job.isFixed == false && job.min
                          ? job.min
                          : "NA"
                        }`)
                      $('#locationMarker').text(`Location: ${Math.round(job.distance / 1000)} km`)
                      $('#jobDetailsMarker').text('View Details')
                      $('#jobDetailsMarker').attr('href', `/candidate/job/${job._id}`)

                      let content = $(temp).html()


                      let infowindow = new google.maps.InfoWindow({
                        content,
                      });

                      const marker = new google.maps.Marker({
                        position: obj,
                        icon: {
                          url: "/images/marker.png",
                          scaledSize: new google.maps.Size(35, 35),
                        },
                        map: map,
                        infowindow: infowindow,
                      });

                      google.maps.event.addListener(marker, "click", function () {
                        this.infowindow.open(map, this);
                      });
                    }
                  }
                });
            }

            document.addEventListener("DOMContentLoaded", () => {
              const pageAnchors = document.querySelectorAll("a.pageAnchor");
              const { origin, pathname, search } = window.location;
              let searchParams = search.split("?")[1];
              let obj;
              let url = `${origin}${pathname}?`;
              if (searchParams) {
                obj = JSON.parse(
                  '{"' + searchParams.replace(/&/g, '","').replace(/=/g, '":"') + '"}',
                  function (key, value) {
                    return key === "" ? value : decodeURIComponent(value);
                  }
                );
                const keyArr = Object.keys(obj).filter((x) => !!obj[x]);
                keyArr.forEach((x) => {
                  if (x !== "page") {
                    url += `${x}=${obj[x]}&`;
                  }
                });
              }
              pageAnchors.forEach((el) => {
                const n = el.getAttribute("href");
                el.setAttribute("href", `${url}page=${n}`);
              });
            });

            function viewMap(e) {
              initMap()
              let $img = $('#view');
              if ($img.hasClass('list')) {
                $img.prop('src', '/images/icons/map.png');
                $('.map').toggle(true);
                $('.searchjobspage').hide();
                $('.txt-view').text('Map');
                $img.removeClass('list').addClass('map2');
                $('#jobView').val('map')
              } else {
                $img.prop('src', '/images/icons/listing.png');
                $('.map').toggle(false);
                $('.searchjobspage').show();
                $('.txt-view').text('List');
                $img.removeClass('map2').addClass('list');
                $('#jobView').val('list')
              }
            }

            $(document).ready(() => {
              if ($('#jobView').val() == 'map') {
                viewMap()
              }
            })

          </script>
          <% include ./partials/footer%>
          <script>
            $(document).on('show.bs.modal', "#videoModal", function(event) {
              const button = event.relatedTarget
                // Extract info from data-bs-* attributes
                const link = button.getAttribute('link')
        
                // Update the modal's content.
                const modalBody = videoModal.querySelector('.modal-body #vodeoElement')
        
                modalBody.src = link
                document.getElementById('courseVid').load()
        });
        
           
        $(document).on('hide.bs.modal', "#videoModal", function(event) {  
                document.getElementById('courseVid').pause()
              })
          </script>
  </body>