<%include ./newpartials/header%>
<section class="section-padding-30 mt-5"></section>
<section class="bg-white">
  <div class="focalBanner">
    <div class="container-fluid">
      <div class="row">
        <div class="col-4">
          <div class="focalytLogo">
            <img src="/images/logo/logo.png" alt="focal logo" />
          </div>
        </div>
        <div class="col-4"></div>
        <div class="col-4">
          <div class="focalytLogo">
            <img src="/images/logo/focal.png" alt="focal logo" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-white">
  <div class="skill-Tech-Brand">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h2 class="skillTech text-black">
            <span class="gradient">Focalyt</span>
            <span> A Skill-Tech brand of Focal Skill</span>
            <span class="gradient">Development Pvt. Ltd.</span>
          </h2>
        </div>
        <div class="col-12">
          <p class="globalLearning text-black">
            At Focalyt, we are committed to revolutionizing the way people learn
            and grow in today's rapidly evolving world. As an innovative skill
            tech platform, Focalyt is dedicated to empowering individuals and
            organizations with cutting-edge education and skill development
            opportunities. Our parent company,Focal Skill Development Pvt Ltd,
            is a driving force behind our mission to foster knowledge,
            creativity, and growth in the global learning landscape.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container-fluid">
    <!-- key Areas  -->
    <div class="workingArea">
      <h2 class="key_area text-center text-white pb-4">Key Areas of Working</h2>
      <div class="row g-3">
        <div class="col-md-3">
          <div class="mainArea">
            <div class="icon-box">
              <figure>
                <img src="public_assets/images/icons/skill.png" alt="">
              </figure>
              <!-- <span class="svg">
                
              </span> -->
            </div>
            <div class="icon-box-content">
              <h4>skill Development</h4>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="mainArea">
            <div class="icon-box">
              <figure>
                <img src="public_assets/images/icons/development.png" alt="">
              </figure>
            </div>
            <div class="icon-box-content">
              <h4>Entrepreneurship development</h4>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="mainArea">
            <div class="icon-box">
              <figure>
                <img src="public_assets/images/icons/guidance.png" alt="">
              </figure>
            </div>
            <div class="icon-box-content">
              <h4>Career counselling and guidance</h4>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="mainArea">
            <div class="icon-box">
              <figure>
                <img src="public_assets/images/icons/services.png" alt="">
              </figure>
            </div>
            <div class="icon-box-content">
              <h4>Placement Employment services</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <!-- training_partners -->
  <div class="container-fluid bg-white">
    <div class="Partners">
      <h3 class="affiliated_partner bg-white">Affiliated Training Partner</h3>
      <div class="row">
        <div class="col-md-12">
          <div class="affilated_partner_image">
            <figure>
              <img src="public_assets/images/brand.png" alt="" />
            </figure>
          </div>
        </div>

        <!-- <div class="col-md-3">
                    <div class="partner_image">
                        
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="partner_image"></div>
                </div>
                <div class="col-md-3">
                    <div class="partner_image"></div>
                </div>
                <div class="col-md-3">
                    <div class="partner_image"></div>
                </div> -->
      </div>
    </div>
  </div>
</section>
<!-- vision -->
<section id="vision">
  <div class="container-fluid">
    <div class="row justify-content-center align-items-center g-3 mt-3 py-5"  id="mission">
      <div class="col-md-6">
        <div class="vision">
          <h3 class="v_header">Our Vision</h3>
          <p class="v_para">
            To be the global leader in the skills technology sector,
            transforming skills through innovation, and making high-quality,
            blended learning accessible to anyone, anywhere. We envision a world
            where anyone can achieve their full potential through personalized
            education, fostering a lifelong learning culture that prepares
            individuals for the challenges and opportunities of the future.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="vision">
          <h3 class="v_header">Our Mission</h3>
          <p class="v_para">
            Our Mission Is To Revolutionize the Skills Of 1 Million Youths By 2027 Providing accessible, Flexible, And Comprehensive Blended Learning Experiences. We are dedicated to empowering learners of all ages with the skills and knowledge needed to thrive in a rapidly changing world and bridge the gap between traditional skills and the evolving demands of the global job market.​
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="partners"> 
  <div class="container-fluid bg-white">
    <div class="main_partners">
      <h3 class="affiliated_partner bg-white">Our Partners</h3>

      <div class="row">
        <div class="col-md-12">
          <div class="affilated_partner_image">
            <figure>
              <img src="public_assets/images/brand2.png" alt="" />
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- focalyt Team  -->

<section>
  <div class="container-fluid">
    <div class="FSD" id="fsd">
      <div class="row g-3">
        <div class="col-md-12">
          <div class="text-center pt-3 pb-5">
            <h2 class="focalyt_Team text-white">Focalyt Team</h2>
          </div>
        </div>
        <div class="col-md-12">
          <div class="row justify-content-evenly ">
          <% seniorManagement.forEach((member)=> { %>

            <div class="col-md-4 pb-4">
              <div class="elementor-widget-containers">
                <div class="elementor-image-box-wrapper">
                  <figure class="elementor-image-box-img">
                    <img src="<%= member.image.fileURL %>" alt="" />
                  </figure>
                  <div class="elementor-image-box-content">
                    <h3 class="elementor-image-box-title text-white text-center">
                      <%= member.name %> <br />
                      <span class="founder">  <%= member.designation %> </span>
                    </h3>
                    <p class="elementor-image-box-description text-white">
                      <%= member.description %> 
                    </p>
                  </div>
                </div>
              </div>
            </div>
          
            <% }); %>
          </div>
        </div>
        
       <!-- <div class="row g-3 align-items-end"> -->
       <div class="row g-3 align-items-center">
       
          <div class="col-md-4">
          <% management.forEach((member)=> { %>

            <div class="elementor-widget-containers">
              <div class="elementor-image-box-wrapper">
                <figure class="elementor-image-box-img">
                  <img src="<%= member.image.fileURL %>" alt="" />
                </figure>
                <div class="elementor-image-box-content">
                  <h3 class="elementor-image-box-title text-white text-center">
                    <%= member.name %> <br />
                    <span class="founder">    <%= member.designation %> </span>
                  </h3>
                  <p class="elementor-image-box-description text-white">
                    <%= member.description %>
                  </p>
                </div>
              </div>
            </div>
            <% }); %>
          </div>
          <% staff.forEach((staff)=> { %>
          <div class="col-md-4">
            <div class="elementor-widget-containers">
              <div class="elementor-image-box-wrapper">
                <figure class="elementor-image-box-img">
                  <img src="<%= staff.image.fileURL %>" alt="" />
                </figure>
                <div class="elementor-image-box-content">
                  <h3 class="elementor-image-box-title text-white text-center">
                    <%= staff.name %><br />
                    <span class="founder"> <%= staff.designation %> </span>
                  </h3>
                </div>
              </div>
            </div>
          </div><% }); %>        
       </div>
        
      </div>
    </div>
  </div>
</section>

<!-- projects  -->
<section>
  <!-- training_partners -->
  <div class="container-fluid bg-white">
    <div class="Partners">
      <h3 class="affiliated_partner bg-white">Key Govt. Project and Clients</h3>
      <div class="row">
        <div class="col-md-12">
          <div class="affilated_partner_image">
            <figure>
              <img src="public_assets/images/brand3.png" alt="" />
            </figure>
          </div>
          <div class="affilated_partner_image">
            <figure>
              <img src="public_assets/images/brand4.png" alt="" />
            </figure>
          </div>
        </div>

        <!-- <div class="col-md-3">
                      <div class="partner_image">
                          
                      </div>
                  </div>
                  <div class="col-md-3">
                      <div class="partner_image"></div>
                  </div>
                  <div class="col-md-3">
                      <div class="partner_image"></div>
                  </div>
                  <div class="col-md-3">
                      <div class="partner_image"></div>
                  </div> -->
      </div>
    </div>
  </div>
</section>

<!-- trainig centers  -->

<section>
  <div class="container-fluid training-centres">
    <div class="text-center">
      <h3 class="section-title">Training Centres</h3>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-4 col-sm-6 mb-4">
        <div class="centre-card">
          <figure>
            <img src="public_assets/images/Ghaziabad.jpg" alt="Ghaziabad" />
          </figure>
          <h4 class="centre-name">Ghaziabad</h4>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 mb-4">
        <div class="centre-card">
          <figure>
            <img src="public_assets/images/Hamirpur.jpg" alt="Hamirpur" />
          </figure>
          <h4 class="centre-name">Hamirpur</h4>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 mb-4">
        <div class="centre-card">
          <figure>
            <img src="public_assets/images/Shahpur.jpg" alt="Shahpur" />
          </figure>
          <h4 class="centre-name">Shahpur</h4>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- mobilization  -->

<section>
  <div class="container-fluid training-centres">
    <div class="text-center">
      <h3 class="section-title text-white">Mobilization</h3>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-12">
      <div class="mobilization" id="mobilization">
        <div class="slider_images">
          <div>
              <img
                src="public_assets/images/MOBILIZATION-1.jpg"
                class="d-block w-100"
                alt="video1"
              />
          </div>
          <div>
              <img
                src="public_assets/images/MOBILIZATION-3.jpg"
                class="d-block w-100"
                alt="video3"
              />
          </div>
          <div>
              <img
                src="public_assets/images/MOBILIZATION-4.png"
                class="d-block w-100"
                alt="video3"
              />
          </div>
          <div>
              <img
                src="public_assets/images/MOBILIZATION-5.jpg"
                class="d-block w-100"
                alt="video3"
              />
          </div>
          <div>
              <img
                src="public_assets/images/MOBILIZATION-6.jpg"
                class="d-block w-100"
                alt="video3"
              />
          </div>
          <div>
              <img
                src="public_assets/images/MOBILIZATION-7.jpg"
                class="d-block w-100"
                alt="video3"
              />
          </div>
          <div>
              <img
                src="public_assets/images/MOBILIZATION-8.jpg"
                class="d-block w-100"
                alt="video3"
              />
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>

<!-- hostel -->
<section class="bg-white">
    <div class="container-fluid">
      <div class="text-center">
        <h3 class="section-title text-black">Hostel Facilities</h3>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="mobilization" id="hostel">
            <div class="slider_images">
              <div>
                <img
                  src="public_assets/images/hOSTEL-FACILITIES-2.jpg"
                  class="d-block w-100"
                  alt="Hostel Facility 1"
                />
              </div>
              <div>
                <img
                  src="public_assets/images/hOSTEL-FACILITIES.jpg"
                  class="d-block w-100"
                  alt="Hostel Facility 2"
                />
              </div>
              <!-- <div>
                <img
                  src="public_assets/images/hOSTEL-FACILITIES-2.jpg"
                  class="d-block w-100"
                  alt="Hostel Facility 3"
                />
              </div> -->
              <!-- <div>
                <img
                  src="public_assets/images/hOSTEL-FACILITIES-2.jpg"
                  class="d-block w-100"
                  alt="Hostel Facility 1"
                />
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
<!-- Training Facilities -->
<section class="bg-white">
  <div class="container-fluid">
    <div class="text-center">
      <h3 class="section-title text-black">Training Facilities</h3>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-12">
      <div class="mobilization" id="trainings">
        <div class="slider_images">
          <div>
              <img
                src="public_assets/images/TRAINING-FACILITIES-1.jpg"
                class="d-block w-100"
                alt="video3"
              />
          </div>
          <div>
              <img
                src="public_assets/images/TRAINING-FACILITIES-3.jpg"
                class="d-block w-100"
                alt="video3"
              />
          </div>
          <div>
          
              <img
                src="public_assets/images/TRAINING-FACILITIES-2-1.jpg"
                class="d-block w-100"
                alt="video3"
              />
          
          </div>
          <div>
            <img
              src="public_assets/images/TRAINING-FACILITIES-3.jpg"
              class="d-block w-100"
              alt="video3"
            />
        </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
<!-- Placement -->
<section>
  <div class="container-fluid training-centres">
    <div class="text-center">
      <h3 class="section-title text-white">Placement and Entrepreneurship</h3>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-10">
      <div class="mobilization" id="Placement">
        <div class="slider_images">
          <div>
              <img
                src="public_assets/images/placement-pic-2.jpg"
                class="d-block w-100"
                alt="video3"
              />
          </div>
          <div>
              <img
                src="public_assets/images/placement-pic-3.jpg"
                class="d-block w-100"
                alt="video3"
              />
          </div>
          <div>
              <img
                src="public_assets/images/placement-pic-4.jpg"
                class="d-block w-100"
                alt="video3"
              />
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
<!-- Media Coverage  -->
<section>
  <div class="container-fluid training-centres">
    <div class="text-center">
      <h3 class="section-title">Media Coverage</h3>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-4 col-sm-6 mb-4">
        <div class="centre-card">
          <figure>
            <img src="public_assets/images/NEWSPAPER2.png" alt="" />
          </figure>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 mb-4">
        <div class="centre-card">
          <figure>
            <img src="public_assets/images/NEWSPAPER3.png" alt="" />
          </figure>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 mb-4">
        <div class="centre-card">
          <figure>
            <img src="public_assets/images/NEWSPAPER4.png" alt="" />
          </figure>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 mb-4">
        <div class="centre-card">
          <figure>
            <img src="public_assets/images/NEWSPAPER5.png" alt="" />
          </figure>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 mb-4">
        <div class="centre-card">
          <figure>
            <img src="public_assets/images/NEWSPAPER6.png" alt="" />
          </figure>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 mb-4">
        <div class="centre-card">
          <figure>
            <img src="public_assets/images/NEWSPAPER7.png" alt="" />
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Extra curricular Activity  -->
<section class="bg-white">
  <div class="container-fluid">
    <div class="text-center">
      <h3 class="section-title">Extra Curricular Activity</h3>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-3 col-sm-6 mb-4">
        <div class="centre-card">
          <figure>
            <img src="public_assets/images/ACTIVITIES-4.jpg" alt="" />
          </figure>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 mb-4">
        <div class="centre-card">
          <figure>
            <img src="public_assets/images/ACTIVITIES-2.jpg" alt="" />
          </figure>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 mb-4">
        <div class="centre-card">
          <figure>
            <img src="public_assets/images/ACTIVITIES-1.jpg" alt="" />
          </figure>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 mb-4">
        <div class="centre-card">
          <figure>
            <img src="public_assets/images/ACTIVITIES-3.jpg" alt="" />
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Project Launches  -->
<section class="bg-white">
  <div class="container-fluid">
    <div class="text-center">
      <h3 class="section-title">Project Launches</h3>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6 col-sm-6 mb-4">
        <div class="centre-card">
          <figure>
            <img src="public_assets/images/DSC_5654.jpg" alt="" />
          </figure>
          <h4 class="centre-name">
            Inauguration of Focal Skill Training Center at Bhagat Phool Singh
            Women University
          </h4>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 mb-4">
        <div class="centre-card">
          <figure>
            <img src="public_assets/images/Untitled-design.png" alt="" />
          </figure>
          <h4 class="centre-name">
            Inauguration of Focal Skill Training Center at Manesar, Haryana
          </h4>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 mb-4">
        <div class="centre-card">
          <figure>
            <img src="public_assets/images/Untitled-design-2.png" alt="" />
          </figure>
          <h4 class="centre-name">
            Inauguration and Launch of 18 Skill Van RPL Project at Lucknow,
            Uttar Pradesh
          </h4>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 mb-4">
        <div class="centre-card">
          <figure>
            <img src="public_assets/images/Untitled-design-3.png" alt="" />
          </figure>
          <h4 class="centre-name">
            E-Waste Art Sculpture Inauguration Ceremony with Panasonic (Harit
            Umang)
          </h4>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Awards and Recognition  -->
<section>
  <div class="container-fluid training-centres">
    <div class="text-center">
      <h3 class="section-title text-white">Awards and Recognition</h3>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-3 col-sm-6 mb-4">
        <div class="centre-card">
          <figure>
            <img src="public_assets/images/AWARD-5.png" alt="Ghaziabad" />
          </figure>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 mb-4">
        <div class="centre-card">
          <figure>
            <img src="public_assets/images/AWARD-2.png" alt="Hamirpur" />
          </figure>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 mb-4">
        <div class="centre-card">
          <figure>
            <img src="public_assets/images/AWARD-4.png" alt="Shahpur" />
          </figure>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 mb-4">
        <div class="centre-card">
          <figure>
            <img src="public_assets/images/AWARD-3.png" alt="Shahpur" />
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
<%include ./newpartials/footer%>
