<%include ./newpartials/header%>
    <%include ./newpartials/jobcategory%>
        <section class="section-padding-120 mt-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 mx-auto py-3">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mx-auto my-4">
                                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                                        <div class="carousel-indicators">
                                            <% if(course.photos?.length>0) { %>
                                                <%course.photos.forEach((photo, i)=>{%>
                                                    <button type="button" data-bs-target="#carouselExampleIndicators"
                                                        data-bs-slide-to="<%=i%>" class="active activeclass"
                                                        aria-current="true" aria-label="Slide 1"></button>
                                                    <%})%>
                                                        <% } else { %>
                                                            <button type="button"
                                                                data-bs-target="#carouselExampleIndicators"
                                                                data-bs-slide-to="0" aria-label="Slide 2"
                                                                class="activeclass"></button>
                                                            <% } %>
                                        </div>
                                        <div class="carousel-inner ">
                                            <% if(course.photos?.length>0) { %>
                                                <%course.photos.forEach((photo, i)=>{%>
                                                    <div class="carousel-item active">
                                                        <img src="<%=photo ? process.env.MIPIE_BUCKET_URL +'/' +photo : '/public_assets/images/newjoblisting/banner1.jpg'%>"
                                                            class="d-block w-100 rounded shadow" alt="...">
                                                    </div>
                                                    <%})%>
                                                        <% } else { %>
                                                            <div class="carousel-item">
                                                                <img src="/public_assets/images/newjoblistingbanner2.jpg"
                                                                    class="d-block w-100 rounded shadow" alt="...">
                                                            </div>
                                                            <% } %>

                                        </div>
                                        <% if(course.photos?.length>0) { %>
                                            <button class="carousel-control-prev" type="button"
                                                data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                                <span class="carousel-control-prev-icon pree" aria-hidden="true"></span>
                                                <span class="visually-hidden">Previous</span>
                                            </button>
                                            <button class="carousel-control-next" type="button"
                                                data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                                <span class="carousel-control-next-icon pree" aria-hidden="true"></span>
                                                <span class="visually-hidden">Next</span>
                                            </button>
                                            <% } %>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 text-center my-auto">
                                <a href="#" data-bs-target="#videoModal" data-bs-toggle="modal"
                                    data-bs-link="<%= process.env.MIPIE_BUCKET_URL +'/' + course.videos[0] %>"
                                    class="pointer img-fluid"><img
                                        src="<%= course.thumbnail ? process.env.MIPIE_BUCKET_URL +'/' + course.thumbnail : '/public_assets/images/newjoblisting/banner3.jpg' %>"
                                        class="digi img-fluid shadow rounded">
                                    <img src="/public_assets/images/newjoblisting/play.svg" alt=""
                                        class="play__btn"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="bg_hexa py-5">
            <div class="container">
                <div class="row">
                    <div
                        class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mx-auto text-center border-bottom mb-3">
                        <a href="/candidate/login?returnUrl=/candidate/course/<%=course._id%>"
                            class="btn btn_cta_apply">Apply Now</a>
                    </div>
                    <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12 mx-auto text-center">
                        <ul class="nav nav-pills mb-3  mx-auto text-center" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                                    aria-selected="true">Course Details</button>
                            </li>
                            <!-- <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-profile" type="button" role="tab"
                                    aria-controls="pills-profile" aria-selected="false">Course Fee Description</button>
                            </li> -->
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-contact" type="button" role="tab"
                                    aria-controls="pills-contact" aria-selected="false">FAQ's</button>
                            </li>
                            <!-- <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-reviews-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-review" type="button" role="tab" aria-controls="pills-review"
                                    aria-selected="false">Review</button>
                            </li>  -->
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active text-white" id="pills-home" role="tabpanel"
                                aria-labelledby="pills-home-tab">
                                <div class="row feature-widget-7-row pt-4" id="apply_modal">
                                    <div class="col-xxl-8 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12 mb-3 mx-auto">
                                        <div class="course_details_col">
                                            <div class="feature-widget-7 border-bottom">
                                                <div class="feature-widget-7__icon-wrapper my-auto">
                                                    <h5 class="fw-normal"><img
                                                            src="/public_assets/images/jobicons/Eligibility.png"
                                                            class="img-fluid" draggable="false">Eligibility</h5>
                                                </div>
                                                <div class="feature-widget-7__body">
                                                    <p class="feature-widget-7__title mb-0 text-white fw-normal">
                                                        <%=course.qualification%>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="feature-widget-7 border-bottom">
                                                <div class="feature-widget-7__icon-wrapper my-auto">
                                                    <h5 class="fw-normal"><img
                                                            src="/public_assets/images/jobicons/Age.png"
                                                            class="img-fluid" draggable="false">Age</h5>
                                                </div>
                                                <div class="feature-widget-7__body">

                                                    <p class="feature-widget-7__title mb-0 text-white fw-normal">
                                                        <%=course.age%> Years
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="feature-widget-7 border-bottom">
                                                <div class="feature-widget-7__icon-wrapper my-auto">
                                                    <h5 class="fw-normal"><img
                                                            src="/public_assets/images/newpage/index/modal/empl.svg"
                                                            class="img-fluid" draggable="false">Location</h5>
                                                </div>
                                                <div class="feature-widget-7__body text-truncate text-end">
                                                    <p class="feature-widget-7__title mb-0 text-white fw-normal">
                                                        <%=course.city +' , ' + course.state%>
                                          </p>
                                      </div>
                                  </div>
                                            <div class="feature-widget-7 border-bottom">
                                                <div class="feature-widget-7__icon-wrapper my-auto">
                                                    <h5 class="fw-normal"><img
                                                            src="/public_assets/images/jobicons/Experience.png"
                                                            class="img-fluid" draggable="false">Experience</h5>
                                                </div>
                                                <div class="feature-widget-7__body">
                                                    <p class="feature-widget-7__title mb-0 text-white fw-normal">
                                                        <%=course.experience%>
                                                    </p>
                                                </div>
                                            </div>
                                            <!-- <div class="feature-widget-7 border-bottom">
                                      <div class="feature-widget-7__icon-wrapper my-auto">
                                          <h5 class="fw-normal"><img
                                                  src="/public_assets/images/newpage/index/modal/empl.svg"
                                                  class="img-fluid" draggable="false">English level</h5>
                                      </div>
                                      <div class="feature-widget-7__body">
                                          <p class="feature-widget-7__title mb-0 text-white fw-normal">Basic
                                          </p>
                                      </div>
                                  </div> -->
                                            <div class="feature-widget-7 border-bottom">
                                                <div class="feature-widget-7__icon-wrapper my-auto">
                                                    <h5 class="fw-normal"><img
                                                            src="/public_assets/images/jobicons/Course_mode.png"
                                                            class="img-fluid" draggable="false">Course Mode</h5>
                                                </div>
                                                <div class="feature-widget-7__body">
                                                    <p class="feature-widget-7__title mb-0 text-white fw-normal">
                                                        <%=course.trainingMode%>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="feature-widget-7 border-bottom">
                                                <div class="feature-widget-7__icon-wrapper my-auto">
                                                    <h5 class="fw-normal"><img
                                                            src="/public_assets/images/jobicons/Course_duration.png"
                                                            class="img-fluid" draggable="false">Course Duration</h5>
                                                </div>
                                                <div class="feature-widget-7__body">
                                                    <p class="feature-widget-7__title mb-0 text-white fw-normal">
                                                        <%=course.duration%>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="feature-widget-7 border-bottom">
                                                <div class="feature-widget-7__icon-wrapper my-auto">
                                                    <h5 class="fw-normal"><img
                                                            src="/public_assets/images/jobicons/Course_type.png"
                                                            class="img-fluid" draggable="false">Course Type</h5>
                                                </div>
                                                <div class="feature-widget-7__body">
                                                    <p class="feature-widget-7__title mb-0 text-white fw-normal">
                                                        <%=course.courseType === ' coursejob' ? 'Course + Job'
                                                            : 'Course' %>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="feature-widget-7 border-bottom">
                                                <div class="feature-widget-7__icon-wrapper my-auto">
                                                    <h5 class="fw-normal"><img
                                                            src="/public_assets/images/jobicons/Timing.png"
                                                            class="img-fluid" draggable="false">Timings</h5>
                                                </div>
                                                <div class="feature-widget-7__body">
                                                    <p class="feature-widget-7__title mb-0 text-white fw-normal">
                                                        <%=course.onlineTrainingTiming||course.offlineTrainingTiming%>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="feature-widget-7 border-bottom">
                                                <div class="feature-widget-7__icon-wrapper my-auto text-end">
                                                    <h5 class="fw-normal"><img
                                                            src="/public_assets/images/jobicons/Institute_name.png"
                                                            class="img-fluid" draggable="false">Institute Name</h5>
                                                </div>
                                                <div class="feature-widget-7__body text-truncate text-end">
                                                    <p class="feature-widget-7__title mb-0 text-white fw-normal ">
                                                        <%=course.certifyingAgency%>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="feature-widget-7 border-bottom">
                                                <div class="feature-widget-7__icon-wrapper my-auto">
                                                    <h5 class="fw-normal"><img
                                                            src="/public_assets/images/jobicons/job_training.png"
                                                            class="img-fluid" draggable="false">On Job Training</h5>
                                                </div>
                                                <div class="feature-widget-7__body">
                                                    <p class="feature-widget-7__title mb-0 text-white fw-normal">
                                                        <%=course.ojt%>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade text-white" id="pills-profile" role="tabpanel"
                                aria-labelledby="pills-profile-tab">
                                <div class="row">
                                    <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12 mx-auto">
                                        <div class="row feature-widget-7-row pt-4" id="apply_modal">
                                            <div
                                                class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-3 mx-auto">
                                                <div class="course_details_col">
                                                    <div class="feature-widget-7 border-bottom">
                                                        <div class="feature-widget-7__icon-wrapper my-auto mx-auto">
                                                            <h5 class="fw-normal"><img
                                                                    src="/public_assets/images/jobicons/Eligibility.png"
                                                                    class="img-fluid" draggable="false">Registration Fee
                                                                : &#8377;<%=course.registrationCharges%>
                                                            </h5>
                                                        </div>
                                                    </div>
                                                    <div class="feature-widget-7 border-bottom">
                                                        <div class="feature-widget-7__icon-wrapper my-auto">
                                                            <h5 class="fw-normal bullet"><img
                                                                    src="/public_assets/images/ul_li_shape.svg"
                                                                    draggable="false">Course Fee</h5>
                                                        </div>
                                                        <div class="feature-widget-7__body">

                                                            <p
                                                                class="feature-widget-7__title mb-0 text-white fw-normal">
                                                                <%=course.cutPrice ?
                                                                    course.cutPrice.toLowerCase()==='free' ?
                                                                    course.cutPrice : '₹ ' + course.cutPrice : 'N/A' %>
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="feature-widget-7 border-bottom">
                                                        <div class="feature-widget-7__icon-wrapper my-auto">
                                                            <h5 class="fw-normal bullet"><img
                                                                    src="/public_assets/images/ul_li_shape.svg"
                                                                    draggable="false">Exam Fee</h5>
                                                        </div>
                                                        <div class="feature-widget-7__body">
                                                            <p
                                                                class="feature-widget-7__title mb-0 text-white fw-normal">
                                                                &#8377;<%=course.examFee%>
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="feature-widget-7 border-bottom">
                                                        <div class="feature-widget-7__icon-wrapper my-auto">
                                                            <h5 class="fw-normal bullet"><img
                                                                    src="/public_assets/images/ul_li_shape.svg"
                                                                    draggable="false">Stipend During Training</h5>
                                                        </div>
                                                        <div class="feature-widget-7__body">
                                                            <p
                                                                class="feature-widget-7__title mb-0 text-white fw-normal">
                                                                &#8377;<%= course.stipendDuringTraining || 'NA' %>
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="feature-widget-7 border-bottom">
                                                        <div class="feature-widget-7__icon-wrapper my-auto">
                                                            <h5 class="fw-normal bullet"><img
                                                                    src="/public_assets/images/ul_li_shape.svg"
                                                                    draggable="false">Any Other Charges</h5>
                                                        </div>
                                                        <div class="feature-widget-7__body">
                                                            <p
                                                                class="feature-widget-7__title mb-0 text-white fw-normal">
                                                                &#8377;<%=course.otherFee || 'NA' %>
                                                            </p>
                                                        </div>
                                                        <!-- <div class="feature-widget-7__body">
                                                            <p
                                                                class="feature-widget-7__title mb-0 text-white fw-normal">
                                                                <img src="/public_assets/images/icons/<%=course.otherFee==='Yes'? 'active_tick.svg' :'dis_tick.svg'%>"
                                                                    draggable="false">
                                                                <img src="/public_assets/images/icons/<%=course.otherFee==='Yes'? 'dis_cross.svg' :'active_cross.svg'%>"
                                                                    draggable="false">
                                                            </p>
                                                        </div> -->
                                                    </div>
                                                    <div class="feature-widget-7 border-bottom">
                                                        <div class="feature-widget-7__icon-wrapper my-auto">
                                                            <h5 class="fw-normal bullet"><img
                                                                    src="/public_assets/images/ul_li_shape.svg"
                                                                    draggable="false">Installment Option</h5>
                                                        </div>
                                                        <div class="feature-widget-7__body">
                                                            <p
                                                                class="feature-widget-7__title mb-0 text-white fw-normal">
                                                                <img src="/public_assets/images/icons/<%=course.emiOptionAvailable==='Yes'? 'active_tick.svg' :'dis_tick.svg'%>"
                                                                    draggable="false">
                                                                <img src="/public_assets/images/icons/<%=course.emiOptionAvailable==='Yes'? 'dis_cross.svg' :'active_cross.svg'%>"
                                                                    draggable="false">
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="feature-widget-7 border-bottom">
                                                        <div class="feature-widget-7__icon-wrapper my-auto">
                                                            <h5 class="fw-normal bullet"><img
                                                                    src="/public_assets/images/ul_li_shape.svg"
                                                                    draggable="false">Max. EMI Tenure</h5>
                                                        </div>
                                                        <div class="feature-widget-7__body">
                                                            <p
                                                                class="feature-widget-7__title mb-0 text-white fw-normal">
                                                                <%=course.maxEMITenure || 'NA' %>
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="feature-widget-7 border-bottom">
                                                        <div class="feature-widget-7__icon-wrapper my-auto">
                                                            <h5 class="fw-normal bullet"><img
                                                                    src="/public_assets/images/ul_li_shape.svg"
                                                                    draggable="false">Bank Loan Option</h5>
                                                        </div>
                                                        <div class="feature-widget-7__body">
                                                            <p
                                                                class="feature-widget-7__title mb-0 text-white fw-normal">
                                                                <img src="/public_assets/images/icons/<%=course.loan==='Yes'? 'active_tick.svg' :'dis_tick.svg'%>"
                                                                    draggable="false">
                                                                <img src="/public_assets/images/icons/<%=course.loan==='Yes'? 'dis_cross.svg' :'active_cross.svg'%>"
                                                                    draggable="false">
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade text-white" id="pills-contact" role="tabpanel"
                                aria-labelledby="pills-contact-tab">
                                <div class="row">
                                    <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12 mx-auto">
                                        <div class="single-footer">
                                            <ul class="contact-info color-pink mb-2">
                                                <h3 class="color-pink text-center mb-3">
                                                    FAQ'S
                                                </h3>
                                            </ul>
                                            <% course.questionAnswers.forEach((ele, index)=> { %>
                                                <div class="accordion accordion-flush faqs_accordian"
                                                    id="accordionFlushExample">
                                                    <div class="accordion-item rounded-3 border-0 shadow mb-2">
                                                        <h2 class="accordion-header">
                                                            <button
                                                                class="accordion-button border-bottom collapsed fw-semibold"
                                                                type="button" data-bs-toggle="collapse"
                                                                data-bs-target="#flush-collapse<%= index %>"
                                                                aria-expanded="false"
                                                                aria-controls="flush-collapse<%= index %>">
                                                                <%- ele.Question %>
                                                            </button>
                                                        </h2>
                                                        <div id="flush-collapse<%= index %>"
                                                            class="accordion-collapse collapse"
                                                            data-bs-parent="#accordionFlushExample">
                                                            <div class="accordion-body">
                                                                <p class="text-white"><%- ele.Answer %></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <% }) %>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade text-white" id="pills-review" role="tabpanel"
                                aria-labelledby="pills-review-tab">
                                <div class="row">
                                    <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <h3 class="text-uppercase jobs-heading pb-4 fw-bold color-pink text-uppercase">
                                            Live Course Reviews</h3>
                                    </div>
                                </div>
                                <!-- <div class=" col-xl-12 text-center" data-aos-duration="1000" data-aos="fade-right">
                          <div class="content">
                            <div class="howfocal slider">
                              <div class="partner_col">
                                <img src="public_assets/images/dummy_review.jpg">
                              </div>
                              <div class="partner_col">
                                <img src="public_assets/images/dummy_review.jpg">
                              </div>
                              <div class="partner_col">
                                <img src="public_assets/images/dummy_review.jpg">
                              </div>
                            </div>
                          </div>
                        </div> -->
                                <div class="row feature-widget-7-row pt-4" id="apply_modal">
                                    <div class="col-xxl-8 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12 mb-3 mx-auto">
                                        <div class="review_card">
                                            <div class="feature-widget-7 review_details_col">
                                                <div class="feature-widget-7__icon-wrapper my-auto  mx-auto">
                                                    <h5 class="fw-normal stars"><img
                                                            src="/public_assets/images/jobicons/review_five.png"
                                                            draggable="false"></h5>
                                                    <p class="text-center review">
                                                        4.8 out of 5
                                                    </p>
                                                    <p class="star_txt text-center">897 Students review this course</p>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="feature-widget-7">
                                                    <div class="feature-widget-7__icon-wrapper my-auto  mx-auto">
                                                        <h5 class="fw-normal"><img
                                                                src="/public_assets/images/jobicons/stu_img.png"
                                                                draggable="false"> Student Name</h5>
                                                        <p class="review">
                                                            <img src="/public_assets/images/jobicons/review_star.png"
                                                                draggable="false">
                                                        </p>
                                                        <p class="student-review fw-light">Lorem ipsum dolor sit amet
                                                            consectetur
                                                            adipisicing elit. Necessitatibus tempore similique
                                                            reprehenderit veniam illo, accusamus voluptatem quos
                                                            provident optio non!</p>
                                                    </div>

                                                </div>
                                            </div>
                                            <div>
                                                <div class="feature-widget-7">
                                                    <div class="feature-widget-7__icon-wrapper my-auto  mx-auto">
                                                        <h5 class="fw-normal"><img
                                                                src="/public_assets/images/jobicons/stu_img.png"
                                                                draggable="false"> Student Name</h5>
                                                        <p class="review">
                                                            <img src="/public_assets/images/jobicons/review_star.png"
                                                                draggable="false">
                                                        </p>
                                                        <p class="student-review fw-light">Lorem ipsum dolor sit amet
                                                            consectetur
                                                            adipisicing elit. Necessitatibus tempore similique
                                                            reprehenderit veniam illo, accusamus voluptatem quos
                                                            provident optio non!</p>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="accordion accordion-flush" id="accordionFlushExample">
                                <div class="accordion-item">
                                  <h2 class="accordion-header" id="flush-headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="true" aria-controls="flush-collapseOne">
                                        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <h3 class="text-uppercase jobs-heading pb-4 fw-bold color-pink text-uppercase">Live Course Reviews</h1>
                                        </div>
                                    </button>
                                  </h2>
                                  <div id="flush-collapseOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample" style="">
                                    <div class="accordion-body text-start"> 
                                        <div class="review_card">
                                            <div class="feature-widget-7 review_details_col">
                                                <div class="feature-widget-7__icon-wrapper my-auto  mx-auto">
                                                    <h5 class="fw-normal stars"><img
                                                        src="/public_assets/images/jobicons/review_five.png" draggable="false"></h5>
                                                        <p class="text-center review">
                                                            4.8 out of 5
                                                        </p>
                                                        <p class="star_txt">897 Students review this course</p>
                                                </div>
                                        </div>
                                        <div>
                                            <div class="feature-widget-7">
                                                <div class="feature-widget-7__icon-wrapper my-auto  mx-auto">
                                                    <h5 class="fw-normal"><img
                                                        src="/public_assets/images/jobicons/stu_img.png" draggable="false"> Student Name</h5>
                                                        <p class="review">
                                                            <img src="/public_assets/images/jobicons/review_star.png" draggable="false">
                                                        </p>
                                                        <p class="star_txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus tempore similique reprehenderit veniam illo, accusamus voluptatem quos provident optio non!</p>
                                                </div>
                                              
                                            </div>
                                        </div>
                                        <div>
                                            <div class="feature-widget-7">
                                                <div class="feature-widget-7__icon-wrapper my-auto  mx-auto">
                                                    <h5 class="fw-normal"><img
                                                        src="/public_assets/images/jobicons/stu_img.png" draggable="false"> Student Name</h5>
                                                        <p class="review">
                                                            <img src="/public_assets/images/jobicons/review_star.png" draggable="false">
                                                        </p>
                                                        <p class="star_txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus tempore similique reprehenderit veniam illo, accusamus voluptatem quos provident optio non!</p>
                                                </div>
                                              
                                            </div>
                                        </div>
                                       </div>
                                    </div>
                                  </div>
                                </div>
                              </div> -->
                                        <div
                                            class="col-xxl-7 col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12 mx-auto text-center pt-3 mt-3">
                                            <a href="" class="btn btn_cta_apply px-5 add_review">Add Your Review</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% if (course.brochure!=='' ) { %>
                            <div
                                class="col-xxl-8 col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12 mx-auto text-center border-top pt-3 mt-3">
                                <a href="<%=process.env.MIPIE_BUCKET_URL +'/' + course.brochure%>" target="_blank"
                                    class="btn btn_cta_apply px-5">Download Brochure</a>
                            </div>
                            <% }%>
                                <% if (course.courseFeatures!=='' ) { %>
                                    <div class="col-xxl-8 col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12 mb-3 mx-auto">
                                        <div class="single-footer">
                                            <h3 class="color-pink text-center mb-3">
                                                COURSE FEATURES
                                            </h3>
                                            <ul class="contact-info text-start text-white pl-4">
                                                <%course.courseFeatures.split('\n').forEach((feature, i)=>{%>
                                                    <li>
                                                        <img src="/public_assets/images/ul_li_shape.svg"
                                                            draggable="false">
                                                        <%= feature%>
                                                    </li>
                                                    <% })%>
                                            </ul>

                                        </div>
                                    </div>

                                    <% }%>
                                        <% if (course.importantTerms!=='' ) { %>
                                            <div
                                                class="col-xxl-8 col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12 mb-3 mx-auto">
                                                <div class="single-footer">
                                                    <h3 class="color-pink text-center mb-3">
                                                        TERMS
                                                    </h3>
                                                    <ul class="contact-info text-start text-white pl-4">
                                                        <%course.importantTerms.split('\n').forEach((term, i)=>{%>
                                                            <li>
                                                                <img src="/public_assets/images/ul_li_shape.svg"
                                                                    draggable="false">
                                                                <%= term%>
                                                            </li>
                                                            <% })%>
                                                    </ul>
                                                </div>
                                            </div>
                                            <% }%>
                                            <!-- <div
                                            class="col-xxl-8 col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12 mx-auto text-center border-top pt-3 mt-4"> -->
                                            <div
                                            class="col-xxl-11 col-xl-11 col-lg-11 col-md-12 col-sm-12 col-12 mx-auto text-center border-top pt-3 mt-4">
                                                    <h3 class="color-pink text-center mb-3">
                                                        HAPPY CANDIDATES
                                                    </h3>
                                                    <a href="#" data-bs-target="#videoModal" data-bs-toggle="modal"
                                                        data-bs-link="<%= process.env.MIPIE_BUCKET_URL +'/' + course.videos[0] %>"
                                                        class="pointer img-fluid">
                                                        <img
                                                            src="<%= course.thumbnail ? process.env.MIPIE_BUCKET_URL +'/' + course.thumbnail : '/public_assets/images/newjoblisting/banner3.jpg' %>"
                                                            class="digi img-fluid shadow rounded">
                                                        <img src="/public_assets/images/newjoblisting/play.svg" alt=""
                                                            class="play__btn">
                                                            </a>
                                                            <!-- carousel Ection for video and images -->

                                                            <!-- <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="happy_candidates" id="happy_candidate">
                                                                        <div class="slider_images">
                                                                            <div>
                                                                                <a href="#">
                                                                                    <img src="/public_assets/images/ai.png" class="d-block w-100" alt="video1">
                                                                                </a>
                                                                            </div>
                                                                            <div>
                                                                                <a href="#">
                                                                                    <img src="/public_assets/images/iot.png" class="d-block w-100" alt="video2">
                                                                                </a>
                                                                            </div>
                                                                            <div>
                                                                                <a href="#">
                                                                                    <img src="/public_assets/images/job.png" class="d-block w-100" alt="video3">
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                
                                                                <div class="col-md-6">
                                                                    <div class="happy_candidates" id="happy_candidate_images">
                                                                        <div class="happy_candidate_images">
                                                                            <div>
                                                                                <a href="#">
                                                                                    <img src="/public_assets/images/ai.png" class="d-block w-100" alt="video1">
                                                                                </a>
                                                                            </div>
                                                                            <div>
                                                                                <a href="#">
                                                                                    <img src="/public_assets/images/iot.png" class="d-block w-100" alt="video2">
                                                                                </a>
                                                                            </div>
                                                                            <div>
                                                                                <a href="#">
                                                                                    <img src="/public_assets/images/job.png" class="d-block w-100" alt="video3">
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div> -->
                                                </div>
                                                <div
                                                    class="col-xxl-8 col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12 mx-auto text-center border-top pt-3 mt-4">
                                                    <h3 class="pb-4 fw-light text-white">
                                                        Have more questions?</h3>
                                                    <a href="/contact"
                                                        class="btn_contact_us px-5 text-uppercase">contact us</a>
                                                </div>
                    </div>
                </div>
        </section>

        <!-- Modal -->
        <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModalTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="modal-body p-0 text-center embed-responsive">
                        <video id="courseVid" controls autoplay class="video-fluid text-center">
                            <source id="vodeoElement" src="" type="video/mp4" class="img-fluid video-fluid">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
            </div>
        </div>

        <!-- footer -->
        <%include ./newpartials/footer%>
        <!-- Your existing login page HTML -->
<%- storageScript %>

            <script>
                const videoModal = document.getElementById('videoModal')
                if (videoModal) {
                    videoModal.addEventListener('show.bs.modal', event => {
                        // Button that triggered the modal
                        const button = event.relatedTarget
                        // Extract info from data-bs-* attributes
                        const link = button.getAttribute('data-bs-link')

                        // Update the modal's content.
                        const modalBody = videoModal.querySelector('.modal-body #vodeoElement')

                        modalBody.src = link
                        document.getElementById('courseVid').load()
                    })
                    videoModal.addEventListener('hide.bs.modal', event => {
                        document.getElementById('courseVid').pause()
                    })
                }
            </script>