<% include ./partials/header %>

  <body class="vertical-layout vertical-menu-modern 2-columns  navbar-floating footer-static  " data-open="click"
    data-menu="vertical-menu-modern" data-col="2-columns">
    <% include ./partials/navbar%>
      <% include ./partials/leftpane%>
      <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
          <div class="content-header row d-xl-block d-lg-block d-md-none d-sm-none d-none">
            <div class="content-header-left col-md-9 col-12 mb-2">
              <div class="row breadcrumbs-top">
                <div class="col-12">
                  <h2 class="content-header-title float-left mb-0">Shortlisted Candidates</h2>
                  <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="/company/dashboard">Home</a>
                      </li>
                      <li class="breadcrumb-item active">Shortlisted Candidates</li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="content-body">
            <section class="list-view">
              <div class="row">
                <div class="col-12">
                  <div class="card mt-1 mb-5">
                    <div class="card-header border border-top-0 border-left-0 border-right-0">
                      <h4 class="card-title pb-1">Shortlisted Candidates</h4>
                      <h6 class="text-bold-500 ">
                      Candidate Count: <%= countCandidates[0].metadata[0]?.total || 0 %>
                      </h6 >
                    </div>
                    <div class="col-xl-12 col-lg-12 mt-2">
                      <form method="GET">
                        <div class="row">
                          <div class="col-xl-4">
                            <label>Name/ Mobile/ Whatsapp</label>
                            <input type="text" name="name" class="form-control" id="username" value="<%= data?.name %>"
                             maxlength="25">
                          </div>
                          <div class="col-xl-4">
                            <h6>Hiring Status</h6>
                            <select class="form-control" id="status-control" name="filterType" value="">
                              <option value="" <% if (filterType=='') { %> selected <% }%>>Select Option</option>
                              <option value="Shortlisted" <% if (filterType=='Shortlisted') { %> selected <% }%>>Shortlisted</option>
                            <option value="Interview Due" <% if (filterType=='Interview Due') { %> selected <% }%>>Interview Due</option>
                              <option value="interviewed" <% if (filterType=='interviewed') { %> selected <% }%>>Interviewed</option>
                              <option value="On Hold" <% if (filterType=='On Hold') { %> selected <% }%>>On Hold</option>
                              <option value="Offer Letter Rollout" <% if (filterType=='Offer Letter Rollout') { %> selected <% }%>>Offer Letter Rollout</option>
                              <option value="Hiring on Hold" <% if (filterType=='Hiring on Hold') { %> selected <% }%>>Hiring on Hold</option>
                              <option value="hired" <% if (filterType=='hired') { %> selected <% }%>>Hired</option>
                              <option value="rejected" <% if (filterType=='rejected') { %> selected <% }%>>Rejected</option>
                            </select>
                            </div>
                            <div class="col-xl-2">
                              <label>&nbsp;</label> <br><button
                                class="btn btn-success  waves-effect waves-light text-white"
                                id="submit-btn">SUBMIT</button>
                            </div>
                        </div> 
                      </form>
                    </div>
                    <div class="card-content">
                      <div class="table-responsive mt-1">
                        <table class="table table-hover-animation mb-0 table-hover">
                          <thead>
                            <tr>
                              <th>CANDIDATES</th>
                              <th>Qualification</th>
                              <th>MOBILE NO.</th>
                              <th>SHORTLISTING DATE</th>
                              <th>Experience</th>
                              <th>Hiring Status</th>
                              <th>ACTIONS</th>
                            </tr>
                          </thead>
                          <tbody id="table-body" >
                            <% if(candidates?.length > 0){ %>
                            <%candidates.forEach((shortlisted)=>{%>
                              <tr id="<%=shortlisted.candidate._id%>">
                                <td class="name text-capitalize">
                                  <%=shortlisted.candidate[0]?.name ? shortlisted.candidate[0]?.name: "NA" %>
                                </td>
                                <td>
                                  <%=shortlisted.candidate[0]?.highestQualification ? qualification.find(i=>i._id == shortlisted.candidate[0]?.highestQualification)?.name: "NA" %>
                                </td>
                                <td class="mobile"><%=shortlisted.candidate[0]?.mobile ? shortlisted.candidate[0]?.mobile: "NA" %></td>
                                <td><%= moment(shortlisted.createdAt).utcOffset("+05:30").format('MMM DD YYYY')%></td>
                                <td>
                                  <% if (shortlisted.candidate[0]?.totalExperience) { %>
                                      <%= shortlisted.candidate[0]?.totalExperience %> Years
                                  <% } else { %>
                                      Fresher
                                  <% } %>
                              </td>
                                <td class="text-capitalize">
                                  <%= shortlisted.status %>
                                </td>
                                <td class="actions" id="socail-iconw">
                                  <a href="/company/candidate/<%=shortlisted.candidate[0]?._id%>?src=shortlisted"><i
                                    class="fa-regular fa-user fa-lg"></i></a>
                                   <a href="https://wa.me/91<%= shortlisted?.candidate[0]?.whatsapp %>" target="_blank"> <img src="/public_assets/images/whatsappicon.png" width="18%" class="mx-1"></a> 
                                   <a href="tel:<%= shortlisted?.candidate[0]?.mobile %>"> <img src="/public_assets/images/telephone.png" width="18.5%"> </a>
                                </td>
                              </tr>
                              <% }) } else {%>
                                <tr><td colspan="8" class="text-center">No Result Found</td></tr>
                            <%}%> 
                          </tbody>
                        </table>
                        <% if (totalPages> 1) { %>
                          <ul class="pagination justify-content-end ml-2 mb-2">
                            <% let first=1 %>
                              <% let last=totalPages> 4 ? 4 :
                                totalPages %> <% if (totalPages> 4 && page >= 2) { %>
                                  <% first=page - 1 %>
                                    <% last=page + 1 %>
                                      <% if (last> totalPages) last = totalPages
                                        %> <% } %>
                                          <% if (first> 1) { %>
                                            <li class="page-item">
                                              <a class="pageAnchor page-link"
                                                href="<%= 1 %>">First</a>
                                            </li>
                                            <% } %>
                                              <% for (let i=first; i <=last; i +=1) { %>
                                                <% if (i===page) { %>
                                                  <li class="active page-item">
                                                    <a href="javascript:void()" class="page-link">
                                                      <%= i %>
                                                    </a>
                                                  </li>
                                                  <% } else { %>
                                                    <li class="page-item">
                                                      <a class="page-link pageAnchor"
                                                        href="<%= i %>">
                                                        <%= i %>
                                                      </a>
                                                    </li>
                                                    <% } %>
                                                      <% } %>
                                                        <% if (totalPages>
                                                          last)
                                                          { %>
                                                          <li class="page-item">
                                                            <a class="pageAnchor page-link"
                                                              href="<%= last + 1 %>">...</a>
                                                          </li>
                                                          <li class="page-item">
                                                            <a class="pageAnchor page-link"
                                                              href="<%= totalPages %>">Last</a>
                                                          </li>
                                                          <% } %>
                          </ul>
                          <% } %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
      <div class="sidenav-overlay"></div>
      <div class="drag-target"></div>
      </div>
      <script>

            document.addEventListener("DOMContentLoaded", () => {
						const pageAnchors = document.querySelectorAll("a.pageAnchor");
						const { origin, pathname, search } = window.location;
            let searchParams = search.split('?')[1];
            let obj;
            let url = `${origin}${pathname}?`;
            if(searchParams){
             obj = JSON.parse('{"' + searchParams.replace(/&/g, '","').replace(/=/g,'":"') + '"}', function(key, value) { return key===""?value:decodeURIComponent(value) })
             const keyArr = Object.keys(obj).filter((x) => !!obj[x]);					
						keyArr.forEach((x) => {
							if (x !== "page") {
								url += `${x}=${obj[x]}&`;
							}
						});
            }
						pageAnchors.forEach((el) => {
							const n = el.getAttribute("href");
							el.setAttribute("href", `${url}page=${n}`);
						});
					});

        </script>

        <% include ./partials/footer%>

          <script src="https://kit.fontawesome.com/ce5729505d.js" crossorigin="anonymous"></script>
