<% include ../partials/header %>

<div class="content-body">
    <% include ../partials/flash %>
    <section>
      <div class="row">
        <div class="col-xl-12 col-lg-12">
          <div id="accordion">
            <div class="card">
            
                 
          
            <div class="table-responsive">
              <table class="table table-hover-animation mb-0 table-hover">
                <thead>
                  <tr>
                    <th class="jd-sequence">Sequence</th>
                    <th class="zig-width">Name</th>
                    <th class="zig-width" >Position</th>
                    <th>Designation</th>
                    <th>Description</th>
                    <th>Active</th>
                  </tr>
                </thead>
                <tbody id="table-body">
                  <%if (teamMembers?.length>0) { %>
                    <% teamMembers.forEach((team , i)=> {%>
                      <tr>
                        <td>
                            <input type="number" id="jd-seq" value="<%= team.sequence %>"
                            onblur="updateSequence(event,'<%= team._id %>')" name="sequence" maxlength="4" onkeypress="if(this.value.length==4) return false"
                            class="form-control w-50" data-id="<%= team._id %>">
                           </td>
                        <td>
                         <%= team.name %></>
                        </td>
                        <td>
                         <%= team.position %></>
                        </td>
                        <td>
                         <%= team.designation %></>
                        </td>
                        <td>
                         <%= team.description %></>
                        </td>
                        <td>
                          <div class="custom-control custom-switch custom-control-inline">
                            <% if(team.status) { %>
                              <input type="checkbox" onclick="myOnOffFunc('<%= team._id %>', '<%= team.status %>');"
                                class="custom-control-input" id="customSwitch<%= i %>" checked />
                              <label class="custom-control-label" for="customSwitch<%= i %>">
                              </label>
                              <% } else { %>
                                <input type="checkbox"
                                  onclick="myOnOffFunc('<%= team._id %>', '<%= team.status %>');"
                                  class="custom-control-input" id="customSwitch<%= i %>" />
                                <label class="custom-control-label" for="customSwitch<%= i %>">
                                </label>
                                <% } %>
                          </div>
                      
                        </td>
                        <!-- <td>
                            <%= team.status === true ? "Active" : "Inactive" %>
                        </td> -->
                       
                        
                      </tr>
                      <% });} else { %>
                        <tr>
                          <td class="text-center" colspan="7">
                            No record found
                          </td>
                        </tr>
                        <%}%>

                </tbody>

              </table>
          </div>
         

          
        </div>
        <div  id="error" style="color: red;"></div>
     
      </div>
      </div>
      </div>
    </section>
  </div>
    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>
<script>
     function updateSequence(e, id) {
      const val = e.target.value;
      axios.patch("/admin/team/teamsequence", { id, val }).then((res) => {
        if (res.data.status === true) {
          e.target.value = res.data.sequence
        }
      })
    }

    function myOnOffFunc(id, status) {
      let myStatus = true;
      if (status === true || status === "true") {
        myStatus = false;
      }
      let data = { id: id, status: myStatus }
      let headers = { 'x-auth': localStorage.getItem('token') }
      axios.patch(`/admin/team/changeStatus`, data, { headers: headers })
        .then((res) => {
          location.reload()
        }).catch((err) => {
          console.log(err)
        })
    }
</script>
    <% include ../partials/footer %>
