<% include ../../partials/header %>
	<div class="content-header row d-xl-block d-lg-block d-md-none d-sm-none d-none">
		<div class="content-header-left col-md-9 col-12 mb-2">
			<div class="row breadcrumbs-top">
				<div class="col-12">
					<h3 class="content-header-title float-left mb-0">Add Template</h3>
					<div class="breadcrumb-wrapper col-12">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/admin">Home</a></li>
							<li class="breadcrumb-item active">Add Template</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="content-body">
		<% include ../../partials/flash %>
			<form class="form-horizontal" action="/admin/smsUsage/addTemplate?id=<%= data?._id%>" method="post" id="formData">
				<section>
					<div class="row">
						<div class="col-xl-12 col-lg-12">
							<div class="card">
								<div class="card-header border border-top-0 border-left-0 border-right-0">
									<h4 class="card-title pb-1">Message Template</h4>
								</div>
								<div class="card-content">
									<div class="card-body">
										<div class="row">
											<div class="col-xl-3 mb-1">
												<label>Template ID
													<span class="asterisk">*</span></label>
												<input type="number" class="form-control" required name="templateId" id="templateId"
													value='<%= data?.templateId %>' onkeypress="if(this.value.length==20) return false" maxlength="20"/>
											</div>
											<div class="col-xl-3 mb-1">
												<label>Categories
													<span class="asterisk">*</span></label>
													<select class="form-control" name="categories" value="" required>
														<option value="">Select Categories</option>
														<option value="Job Promotion"
														 <% if(data?.categories==='Job Promotion' ){ %> selected <% } %>>Job Promotion</option>
														<option value="Interview Scheduling"
														<% if(data?.categories==='Interview Scheduling' ){ %> selected <% } %>>Interview Scheduling</option>
														<option value="Miscellaneous"
														<% if(data?.categories==='Miscellaneous' ){ %> selected <% } %>>Miscellaneous</option>
													</select>
											</div>
                                            <div class="col-xl-3 mb-1">
												<label>Name
													<span class="asterisk">*</span></label>
												<input type="text" class="form-control" required name="name" id="name"
													value='<%= data?.name %>'  onkeypress="if(this.value.length==25) return false" maxlength="25" />
											</div>
                                            <div class="col-xl-3 mb-1">
												<label>Activation Date
													<span class="asterisk">*</span></label>
												<input type="date"  class="form-control" required name="activationDate" id="activationDate"
												    min="<%= data?.activationDate ? moment(data.activationDate).utcOffset('+05:30').format('YYYY-MM-DD') : moment().utcOffset('+05:30').format('YYYY-MM-DD') %>" 
													value='<%= data?.activationDate ? moment(data.activationDate).utcOffset('+05:30').format('YYYY-MM-DD') : '' %>'  />
											</div>
										</div>
										<div class="row">
											
                                            <div class="col-xl-3 mb-1">
												<label>Message</label>
												<textarea class="form-control" name="message" cols="3" rows="3"
                                                onkeypress="if(this.value.length==150) return false" maxlength="150" ><%= data?.message%></textarea>
											</div>
                                            <div class="col-xl-9 col-lg-9 col-9 mb-1 mt-5 pt-1 text-right my-auto">
												<a href="/admin/smsUsage/addTemplate" type="reset" class="btn btn-danger">
                                                    Reset
                                                </a>
                                                <button type="submit submitBtn" class="btn btn-success" id="submit">
                                                    Save
                                                </button>
											</div>
                                            </div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
	</div>
	</form>
	<% include ../../partials/footer %>

